#sign-up {
    position: relative;
    text-decoration: underline;
    color: #000;
    cursor: pointer;
}

#sign-up:hover::after {
    content: "Sign up for an account to start tracking your water intake with Aqua Buddy. It only takes a few minutes to create an account, and you will be on your way to staying hydrated and healthy.";
  position: absolute;
  left: 0px;
  bottom: 24px;
  min-width: 200px;
  border: 1px #aaaaaa solid;
  background-color: #772014;
  padding: 12px;
  color: #fff;
  font-size: 110%;
  z-index: 1;
}

#log-in {
    position: relative;
    text-decoration: underline;
    color: #000;
    cursor: pointer;
}

#log-in:hover::after {
    content: "Log in to your account to start tracking your water intake with Aqua Buddy.";
  position: absolute;
  left: 0px;
  bottom: 24px;
  min-width: 200px;
  border: 1px #aaaaaa solid;
  background-color: #772014;
  padding: 12px;
  color: #fff;
  font-size: 110%;
  z-index: 1;
}

#goal {
    position: relative;
    text-decoration: underline;
    color: #000;
    cursor: pointer;
}

#goal:hover::after {
    content: "Set a goal for how much water you want to drink each day with Aqua Buddy. You can set a goal based on your weight, activity level, and other factors to make sure you are staying hydrated throughout the day.";
  position: absolute;
  left: 0px;
  bottom: 24px;
  min-width: 200px;
  border: 1px #aaaaaa solid;
  background-color: #772014;
  padding: 12px;
  color: #fff;
  font-size: 110%;
  z-index: 1;
}

#track {
    position: relative;
    text-decoration: underline;
    color: #000;
    cursor: pointer;
}

#track:hover::after {
    content: "Track your progress towards your water intake goal with Aqua Buddy. You can see how much water you have consumed throughout the day and make sure you are staying on track to reach your goal.";
  position: absolute;
  left: 0px;
  bottom: 24px;
  min-width: 200px;
  border: 1px #aaaaaa solid;
  background-color: #772014;
  padding: 12px;
  color: #fff;
  font-size: 110%;
  z-index: 1;
}

#hydrate {
    position: relative;
    text-decoration: underline;
    color: #000;
    cursor: pointer;
}

#hydrate:hover::after {
    content: "Get reminders to drink water throughout the day with Aqua Buddy. You can set up reminders to make sure you are staying hydrated and drinking enough water to reach your goal.";
  position: absolute;
  left: 0px;
  bottom: 24px;
  min-width: 200px;
  border: 1px #aaaaaa solid;
  background-color: #772014;
  padding: 12px;
  color: #fff;
  font-size: 110%;
  z-index: 1;
}













